<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demos</key>
	<array>
		<dict>
			<key>title</key>
			<string>UIWindowTest</string>
			<key>viewControllerName</key>
			<string>UIWindowDemoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>RuntimeMethodForward</string>
			<key>viewControllerName</key>
			<string>RuntimeMethodForwardDemoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>OperationTest</string>
			<key>viewControllerName</key>
			<string>NSOperationTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GCD</string>
			<key>viewControllerName</key>
			<string>GCDTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>图片翻转测试</string>
			<key>viewControllerName</key>
			<string>UIImageViewFlipTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>摇一摇测试</string>
			<key>viewControllerName</key>
			<string>ShakeTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>富文本测试</string>
			<key>viewControllerName</key>
			<string>AttributeStringViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ImagePinchTest</string>
			<key>viewControllerName</key>
			<string>ImagePinchTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>RuntimeDemo</string>
			<key>viewControllerName</key>
			<string>RuntimeDemoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ImageResizableTest</string>
			<key>viewControllerName</key>
			<string>ImageResizableTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>BlockTest</string>
			<key>viewName</key>
			<string>BlockTestView</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SimpleCircleMoveTest</string>
			<key>viewControllerName</key>
			<string>SimpleCircleMoveViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DreamTravelTest</string>
			<key>viewControllerName</key>
			<string>DreamTravelTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>PerlinNoiseTest</string>
			<key>viewControllerName</key>
			<string>PerlinNoiseTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ImplicitAnimationsTest 隐式动画</string>
			<key>viewControllerName</key>
			<string>ImplicitAnimationsViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CAShapeLayer</string>
			<key>viewControllerName</key>
			<string>CAShapeLayerTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CATextLayer</string>
			<key>viewControllerName</key>
			<string>CATextLayerTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SimpleClock</string>
			<key>viewControllerName</key>
			<string>SimpleClockViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ContentTest</string>
			<key>viewControllerName</key>
			<string>ContentTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Quartz-text</string>
			<key>viewName</key>
			<string>CATravelView</string>
		</dict>
		<dict>
			<key>title</key>
			<string>波浪</string>
			<key>viewName</key>
			<string>CAWaterWaveDemoView</string>
		</dict>
		<dict>
			<key>title</key>
			<string>蒲公英</string>
			<key>viewControllerName</key>
			<string>DandelionViewController</string>
		</dict>
	</array>
</dict>
</plist>
